= form_for @link do |f|
  - if @link
    = render partial: '/shared/errors', locals: { target: @link }
  = f.label :url
  = f.text_field :url
  %br
  = f.label :title
  = f.text_field :title
  %br
  = f.submit 'Create link', class: 'create-link'

%input.link-search

%div.links
