.row
  .small-4.small-centered.columns
    = form_for @link, class: '' do |f|
      - if @link
        = render partial: '/shared/errors', locals: { target: @link }
      = f.label :url
      = f.text_field :url, class: 'new-link-url'
      %br
      = f.label :title
      = f.text_field :title, class: 'new-link-title'
      %br
      = f.submit 'Create link', class: 'button hollow success create-link'

%hr
.row
  .small-3.small-centered.columns
    %input.link-search{ placeholder: 'Search by link title'}

.row
  .small-3.small-centered.columns
    %button.button.success#filter-read Read
    %button.button.danger#filter-unread Unread
    %button.button.primary#filter-abc ABC
    %hr
.row
  .small-3.small-centered.columns
    %div.links
